<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      div{
        display:inline-block;
        width:30%;
      }
    </style>
  </head>


  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <header>
      <h2>Please Login</h2>
    </header>
    <form action="/login" method="post">
      <input type="text" name="id"/>Id
      <input type="text" name="pass"/>Password
      <input type="submit"/>
    </form>



  </body>

</html>
